.top-head {
    display: flex;
    background-color: grey;
    height: 120px;
    padding: 50px 30px 5px;
}

.nav-item {
    display: flex;
    padding: 10px 10px 5px;
    width: 60px;
    height: 40px;
    flex-grow: 5;
    background-color: rgb(211,211,211);
}

.block1 {
    display: flex;
}

.article-line1 {
    border: 1px solid black;
}